body {
    margin: 0;
    min-width: 100vw;
    background-image: url("../images/escaped.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.backGround {
    
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#indexBtn{
    position: absolute;
    padding: 0;
    background-color: transparent;
    background-image: url('../images/button.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    font-size: 40px;
    width: 200px;
    height: 100px;
    border: none;
    transition: all 0.2s;
    left: 5%;
    top: 5%;
    

}

.title {
    margin-top: 2vh;
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}

.button-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    gap: 10%;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    padding: 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 40px;
    width: 300px;
    height: 300px;
    border: 5px solid black ;
    transition: all 0.2s;
}

#delete {
    margin-top: 5vh;
    padding: 0;
    background-color: transparent;
    background-image: url('../images/button.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    font-size: 40px;
    width: 200px;
    height: 110px;
    border: none;
}
/* 
.button-container button:hover {
    animation: blink 0.5s;  
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
} */

.button-wrapper p {
    margin: 10px 0 0;
    color: black;
    font-size: 20px;
}
