body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../images/background%20for%20game2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


table{
   
    border-collapse: collapse;
    border: 1px solid black;

}



td{
    border: 3px solid black;
    width: 45px;
    height: 45px;
    text-align:center;
    vertical-align:middle;
}

#overlay {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;   
    flex-direction: column;   
    text-align: center;
    z-index: 1000;
    font-size:larger;
}

#overlay .level{
    font-size:xx-large;
}

#overlay .click{
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}
