
body{
    border: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("../images/background%20for%20game2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.backGround{
    
    position: relative;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background%20for%20game2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}

canvas{
    margin-top: 5%;
    border: 5px solid black;
    background-color: white;

}

.timer{

    margin-top: 5%;
    border: 0;
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#overlay {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;   
    flex-direction: column;   
    text-align: center;
    z-index: 1000;
    font-size:larger;
}

#overlay .level{
    font-size:xx-large;
}

#overlay .click{
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}