body{
    margin: 0;
    min-width: 100vw;
   
    
}

.backGround {
    width: 100vw;
    height: 100vh;
   
    /* background-color: #02a0cf; */
    background: black;
    background-image: url("images/index_background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 0;
    align-items: center;
}

.button-container {
    bottom: 5%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 60%;
    max-width: 60%; 
}

.button-container button {
    flex: 1;
    padding:0;
    background-color: transparent;
    background-image:url('images/button.png');
    background-position: center;
.button-container {
    bottom: 5%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 60%;
    max-width: 60%; 
}

.button-container button {
    flex: 1;
    padding:0;
    background-color: transparent;
    background-image:url('images/button.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    font-size: 40px;
    width: 120px;
    height: 110px;
    border: none;
    transition: all 0.2s;
}

.button-container button:hover {
    animation: blink 0.5s; /* 设置闪烁动画 */
}

@keyframes blink {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}











