body{
    margin: 0;
    min-width: 100vw;
   
    
}

.backGround {

    width: 100vw;
    height: 100vh;
   
    background-color: #02a0cf;
    display: flex;
    margin: 0;
    align-items: center;
}





.image{
    
    width: 75%;
    height: 75%;
    margin: 0;
   
    position: relative;
    background-image: url("turtle\ +\ seawoods.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.text{
    position: absolute;
    
    right: 5%;
    transform: translateY(-50%);
    font-size: 4vw;
    margin: 0;
    z-index: +1;


}












