body{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black; 
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.box{
    width: 100vw;
    height:100vh;
    background-color: black;
    background-image: url("../images/escaped.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

.TypeWrite, #nextPage{
    position: relative;
    margin: 0;
    color: rgb(4, 10, 67);
    text-align: center;
 
   

}

#nextPage{
    position: relative;
    margin-top: 5%;
    display: none;
    animation : blink 2s infinite;
}

@keyframes blink {

    0%,100% {
        opacity: 0.1;
    }

    50% {

        opacity: 1;
    }

}

